<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.account-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.account-image {
  top: 125px;
  left: 0px;
  width: 1536px;
  height: 170px;
  position: absolute;
  object-fit: cover;
}
.account-text {
  top: 306px;
  left: 635px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.account-navlink {
  top: 610px;
  left: 588px;
  color: #ffffff;
  width: 157px;
  height: 85px;
  padding: 0px;
  position: absolute;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: #1227bf;
}

.account-text01 {
  text-align: center;
}
.account-button {
  top: 610px;
  left: 850px;
  color: #ffffff;
  width: 157px;
  height: 85px;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 0px;
  background-color: #1227bf;
}

.account-container1 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.account-navlink1 {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.account-navlink2 {
  display: contents;
}
.account-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.account-container2 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.account-text07 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.account-text08 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.account-text09 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.account-text10 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.account-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.account-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.account-navlink3 {
  display: contents;
}
.account-navlink23{
  display: contents;
}
.account-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.account-ul {
  top: 368px;
  left: 580px;
  width: 415px;
  height: 216px;
  position: absolute;
  align-self: center;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.account-li2 {
  width: 436px;
  height: 30px;
}


    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./account.css" rel="stylesheet" />
    <div class="account-container">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1618044733300-9472054094ee?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE0fHxiYW5rJTIwYWNjb3VudHxlbnwwfHx8fDE2ODUyMDUxMTd8MA&amp;ixlib=rb-4.0.3&amp;w=1600"
        class="account-image"
      />
      <h1 class="account-text">Account Details</h1>
      <a href="view-account-transactions" class="account-navlink button">
        <span class="account-text01">
          <span class="Content">View Transactions</span>
          <br class="content1" />
        </span>
      </a>
      <button type="submit" class="account-button button" onclick="showAlertClose()">
        <span>
          <span class="Content">Close Account</span>
          <br class="content1" />
        </span>
      </button>
      <script>
        function showAlertClose(){
          alert("Account closed!");
        }
      </script>
      <div class="account-container1">
        <a href="report" class="account-navlink1 button">
          Report Technical Issues
        </a>
        <a href="profile" class="account-navlink2">
          <svg viewBox="0 0 1024 1024" class="account-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="account-container2">
          <a href="home" class="account-navlink23">
          <span class="account-text07">
            <span class="account-text08">CtrlZ</span>
            <br class="account-text09" />
            <span class="account-text10">Bank</span>
            <br />
          </span>
          <svg viewBox="0 0 950.8571428571428 1024" class="account-icon2">
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg viewBox="0 0 950.8571428571428 1024" class="account-icon4">
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="account-navlink3">
          <svg viewBox="0 0 1024 1024" class="account-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
      <ul class="account-ul list">
        <li class="list-item"><span>Account Owner Name: </span></li>
        <li class="list-item"><span>Owner ID:</span></li>
        <li class="account-li2 list-item">
          <span>Account Number: XXXX XXXX XXXX XXXX</span>
        </li>
        <li class="list-item"><span>Account Balance: 0.00 EGP</span></li>
        <li class="list-item"><span>Account Currency: Egyptian Pound</span></li>
        <li class="list-item"><span>Account Type: Current Account</span></li>
        <li class="list-item"><span>Account Creation Date: DD/MM/YYYY</span></li>
      </ul>
    </div>
  </div>
  
</body>
</html>