<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.apply-certificate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.apply-certificate-container1 {
  top: 201px;
  left: 81px;
  width: 1341px;
  height: 356px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.apply-certificate-container2 {
  top: 95px;
  left: 0px;
  width: 406px;
  height: 231px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #61647a;
  align-items: center;
  padding-right: 13px;
  flex-direction: column;
  justify-content: center;
  background-color: #c5eaf3;
}
.apply-certificate-ul {
  top: 81px;
  right: 1px;
  width: 376px;
  height: 134px;
  position: absolute;
  align-self: center;
  padding-left: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.apply-certificate-text04 {
  top: 24px;
  left: 141px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  background-color: rgb(7, 93, 162);
}
.apply-certificate-text05 {
  top: 0px;
  left: 558px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.apply-certificate-container3 {
  top: 92px;
  right: 6px;
  width: 406px;
  height: 231px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #61647a;
  align-items: center;
  padding-right: 13px;
  flex-direction: column;
  justify-content: center;
  background-color: #c5eaf3;
}
.apply-certificate-ul1 {
  top: 81px;
  right: 1px;
  width: 376px;
  height: 134px;
  position: absolute;
  align-self: center;
  padding-left: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.apply-certificate-text10 {
  top: 25px;
  left: 125px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  background-color: rgb(7, 93, 162);
}
.apply-certificate-container4 {
  top: 95px;
  left: 466px;
  width: 406px;
  height: 231px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #61647a;
  align-items: center;
  padding-right: 13px;
  flex-direction: column;
  justify-content: center;
  background-color: #c5eaf3;
}
.apply-certificate-ul2 {
  top: 81px;
  right: 1px;
  width: 376px;
  height: 134px;
  position: absolute;
  align-self: center;
  padding-left: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.apply-certificate-text15 {
  top: 26px;
  left: 124px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  background-color: rgb(7, 93, 162);
}
.apply-certificate-text16 {
  left: 454px;
  bottom: -93px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.apply-certificate-form {
  left: 436px;
  width: 541px;
  bottom: -333px;
  height: 258px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.apply-certificate-text17 {
  top: 40px;
  left: 0px;
  position: absolute;
}
.apply-certificate-text18 {
  top: 100px;
  left: 0px;
  position: absolute;
}
.apply-certificate-textinput {
  top: 40px;
  right: 23px;
  position: absolute;
}
.apply-certificate-textinput1 {
  top: 100px;
  right: 23px;
  position: absolute;
}
.apply-certificate-text19 {
  top: 162px;
  left: 3px;
  position: absolute;
}
.apply-certificate-select {
  top: 164px;
  left: 118px;
  position: absolute;
}
.apply-certificate-button {
  left: 611px;
  color: var(--dl-color-gray-white);
  width: 127px;
  bottom: -365px;
  height: 58px;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-black);
}

.apply-certificate-container5 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.apply-certificate-navlink {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.apply-certificate-navlink1 {
  display: contents;
}
.apply-certificate-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.apply-certificate-container6 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.apply-certificate-text20 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.apply-certificate-text21 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.apply-certificate-text22 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.apply-certificate-text23 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.apply-certificate-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.apply-certificate-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.apply-certificate-navlink2 {
  display: contents;
}
.apply-certificate-navlink23{
  display: contents;
}
.apply-certificate-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apply for Certificate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./apply-certificate.css" rel="stylesheet" />
    <div class="apply-certificate-container">
      <div class="apply-certificate-container1">
        <div class="apply-certificate-container2">
          <ul class="apply-certificate-ul list">
            <li class="list-item"><span>Minimum Amount : </span></li>
            <li class="list-item"><span>Interest Rate: </span></li>
            <li class="list-item"><span>Duration in years : 1 year </span></li>
            <li class="list-item"><span>Return Frequency: </span></li>
          </ul>
          <h1 class="apply-certificate-text04">1 Year</h1>
        </div>
        <h1 class="apply-certificate-text05">Certificates</h1>
        <div class="apply-certificate-container3">
          <ul class="apply-certificate-ul1 list">
            <li class="list-item"><span>Minimum Amount : </span></li>
            <li class="list-item"><span>Interest Rate: </span></li>
            <li class="list-item"><span>Duration in years : 5 years </span></li>
            <li class="list-item"><span>Return Frequency: </span></li>
          </ul>
          <h1 class="apply-certificate-text10">5 Years</h1>
        </div>
        <div class="apply-certificate-container4">
          <ul class="apply-certificate-ul2 list">
            <li class="list-item"><span>Minimum Amount : </span></li>
            <li class="list-item"><span>Interest Rate: </span></li>
            <li class="list-item"><span>Duration in years : 3 years </span></li>
            <li class="list-item"><span>Return Frequency: </span></li>
          </ul>
          <h1 class="apply-certificate-text15">3 Years</h1>
        </div>
        <h1 class="apply-certificate-text16">Certificate Application</h1>
        <form class="apply-certificate-form">
          <label class="apply-certificate-text17">Certificate Amount: </label>
          <label class="apply-certificate-text18">Account Number: </label>
          <input
            type="email"
            required
            autofocus
            placeholder="Enter an amount"
            class="apply-certificate-textinput input"
          />
          <input
            type="text"
            required
            autofocus
            minlength="4"
            placeholder="Enter your account number"
            class="apply-certificate-textinput1 input"
          />
          <label class="apply-certificate-text19">Duration: </label>
          <select class="apply-certificate-select">
            <option value="Option 1">1 year</option>
            <option value="Option 2">3 years</option>
            <option value="Option 3">5 years</option>
          </select>
        </form>
        <button class="apply-certificate-button button" onclick="showAlert()">Submit</button>
        <script>
          function showAlert(){
            alert("Successful submission!");
          }
        </script>
      </div>
      <div class="apply-certificate-container5">
        <a href="report" class="apply-certificate-navlink button">
          Report Technical Issues
        </a>
        <a href="profile" class="apply-certificate-navlink1">
          <svg viewBox="0 0 1024 1024" class="apply-certificate-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="apply-certificate-container6">
          <a href="home" class="apply-certificate-navlink23">
          <span class="apply-certificate-text20">
            <span class="apply-certificate-text21">CtrlZ</span>
            <br class="apply-certificate-text22" />
            <span class="apply-certificate-text23">Bank</span>
            <br />
          </span>
          <svg
            viewBox="0 0 950.8571428571428 1024"
            class="apply-certificate-icon2"
          >
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg
            viewBox="0 0 950.8571428571428 1024"
            class="apply-certificate-icon4"
          >
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="apply-certificate-navlink2">
          <svg viewBox="0 0 1024 1024" class="apply-certificate-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
</body>
</html>