<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.donate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.donate-image {
  top: 125px;
  left: 0px;
  width: 100%;
  height: 176px;
  position: absolute;
  object-fit: cover;
}
.donate-container1 {
  top: 321px;
  left: 473px;
  width: 588px;
  height: 458.60000228881836px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.donate-text {
  top: 0px;
  left: 212px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.donate-form {
  top: 68px;
  left: 0px;
  width: 580px;
  height: 327px;
  display: flex;
  position: absolute;
}
.donate-text01 {
  top: 10px;
  left: 0px;
  position: absolute;
}
.donate-text02 {
  top: 70px;
  left: 0px;
  position: absolute;
}
.donate-text03 {
  top: 190px;
  left: 0px;
  position: absolute;
}
.donate-text04 {
  top: 130px;
  left: 0px;
  position: absolute;
}
.donate-text07 {
  top: 250px;
  left: 0px;
  position: absolute;
}
.donate-textinput {
  top: 10px;
  right: 0px;
  position: absolute;
}
.donate-textinput1 {
  top: 70px;
  right: 0px;
  position: absolute;
}
.donate-textinput2 {
  top: 190px;
  right: 0px;
  position: absolute;
}
.donate-textinput3 {
  top: 130px;
  right: 0px;
  position: absolute;
}
.donate-textinput4 {
  top: 250px;
  right: 0px;
  position: absolute;
}
.donate-button {
  left: 210px;
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  bottom: 21px;
  height: var(--dl-size-size-small);
  padding: 0px;
  position: absolute;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-black);
}
.donate-container2 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.donate-navlink {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.donate-navlink1 {
  display: contents;
}
.donate-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.donate-container3 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.donate-text08 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.donate-text09 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.donate-text10 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.donate-text11 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.donate-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.donate-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.donate-navlink2 {
  display: contents;
}
.donate-navlink23 {
  display: contents;
}
.donate-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}

 </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./donate.css" rel="stylesheet" />
    <div class="donate-container">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fGRvbmF0ZXxlbnwwfHx8fDE2ODUyMDU0NDh8MA&amp;ixlib=rb-4.0.3&amp;w=1500"
        class="donate-image"
      />
      <div class="donate-container1">
        <h1 class="donate-text">Donate</h1>
        <form class="donate-form">
          <label class="donate-text01">Sender Account Number:</label>
          <label class="donate-text02">Receiver Account Number:</label>
          <label class="donate-text03">Reciever Bank Name:</label>
          <label class="donate-text04">
            <span>Receiver Name:</span>
            <br />
          </label>
          <label class="donate-text07">Amount : </label>
          <input
            type="text"
            required
            placeholder="Enter your account number"
            class="donate-textinput input"
          />
          <input
            type="text"
            required
            placeholder="Enter the receiver account number"
            class="donate-textinput1 input"
          />
          <input
            type="text"
            required
            placeholder="Enter the bank name"
            class="donate-textinput2 input"
          />
          <input
            type="text"
            required
            placeholder="Enter receiver name"
            class="donate-textinput3 input"
          />
          <input
            type="text"
            required
            placeholder="Enter the amount"
            class="donate-textinput4 input"
          />
        </form>
        <button class="donate-button button Content" onclick="showAlert()">Donate</button>
        <script>
          function showAlert(){
            alert("Donation done successfully!");
          }
        </script>
      </div>
      <div class="donate-container2">
        <a href="report" class="donate-navlink button">
          Report Technical Issues
        </a>
        <a href="profile" class="donate-navlink1">
          <svg viewBox="0 0 1024 1024" class="donate-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="donate-container3">
          <a href="home" class="donate-navlink23">
          <span class="donate-text08">
            <span class="donate-text09">CtrlZ</span>
            <br class="donate-text10" />
            <span class="donate-text11">Bank</span>
            <br />
          </span>
          <svg viewBox="0 0 950.8571428571428 1024" class="donate-icon2">
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg viewBox="0 0 950.8571428571428 1024" class="donate-icon4">
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="donate-navlink2">
          <svg viewBox="0 0 1024 1024" class="donate-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</body>  
</html>