<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  padding-left: 00px;
  padding-right: 00px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.14);
}
.home-container1 {
  top: 550px;
  left: 60px;
  width: 684px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
}
.home-navlink {
  top: 40px;
  left: 0px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-text01 {
  font-style: normal;
}
.home-text02 {
  font-style: normal;
}
.home-text03 {
  font-style: normal;
}
.home-text05 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(189, 195, 199) 0%, rgb(161, 193, 225) 100%);
}
.home-text06 {
  top: 142px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(189, 195, 199) 0%, rgb(161, 193, 225) 100%);
}
.home-navlink01 {
  top: 180px;
  color: #ffffff;
  right: 0px;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink02 {
  top: 180px;
  left: 279px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink03 {
  top: 180px;
  color: #ffffff;
  right: 138px;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink04 {
  top: 180px;
  left: 0px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink05 {
  top: 180px;
  left: 140px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink06 {
  top: 40px;
  left: 140px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-text21 {
  font-style: normal;
}
.home-text22 {
  font-style: normal;
}
.home-text23 {
  font-style: normal;
}
.home-navlink07 {
  top: 40px;
  left: 279px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-text31 {
  left: 0px;
  right: 0px;
  bottom: 95px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(189, 195, 199) 0%, rgb(161, 193, 225) 100%);
}
.home-navlink08 {
  left: 0px;
  color: #ffffff;
  width: 128px;
  bottom: 10px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink09 {
  left: 140px;
  color: #ffffff;
  width: 128px;
  bottom: 10px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink10 {
  color: #ffffff;
  right: 138px;
  width: 128px;
  bottom: 10px;
  height: 70px;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink11 {
  left: 279px;
  color: #ffffff;
  width: 128px;
  bottom: 10px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-container2 {
  top: 550px;
  left: 850px;
  width: 617px;
  height: 388px;
  display: flex;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
}
.home-text36 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(189, 195, 199) 0%, rgb(161, 193, 225) 100%);
}
.home-navlink12 {
  top: 38px;
  left: 2px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-button {
  top: 38px;
  left: 139px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  background-color: #1227bf;
}
.home-navlink13 {
  top: 38px;
  left: 139px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink14 {
  top: 37px;
  left: 277px;
  color: #ffffff;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink15 {
  top: 37px;
  color: #ffffff;
  right: 71px;
  width: 128px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-text42 {
  top: 144px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(189, 195, 199) 0%, rgb(161, 193, 225) 100%);
}
.home-navlink16 {
  left: -1px;
  color: #ffffff;
  width: 128px;
  bottom: 134px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink17 {
  left: 139px;
  color: #ffffff;
  width: 128px;
  bottom: 134px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink18 {
  left: 277px;
  color: #ffffff;
  width: 128px;
  bottom: 134px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink19 {
  color: #ffffff;
  right: 0px;
  width: 199px;
  bottom: 134px;
  height: 70px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-navlink20 {
  left: 0px;
  color: #ffffff;
  width: 617px;
  bottom: 8px;
  height: 54px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: #1227bf;
}

.home-text48 {
  top: 286px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(189, 195, 199) 0%, rgb(161, 193, 225) 100%);
}
.home-image {
  top: 125px;
  left: 0px;
  width: 1536px;
  height: 183px;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.home-text49 {
  top: 318px;
  left: 539px;
  width: 450px;
  height: 70px;
  position: absolute;
}
.home-text50 {
  top: 388px;
  left: 60px;
  width: 370px;
  height: 70px;
  position: absolute;
}
.home-container3 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.home-navlink21 {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-navlink22 {
  display: contents;
}
.home-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.home-container4 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text51 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.home-text52 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.home-text53 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.home-text54 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.home-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.home-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.home-navlink23 {
  display: contents;
}
.home-navlink28{
  display: contents;
}
.home-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.home-text56 {
  top: 455px;
  left: 60px;
  width: 1420px;
  height: 75px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.home-text57 {
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./home.css" rel="stylesheet" />
    <div class="home-container">
      <div class="home-container1">
        <a href="account" class="home-navlink button">
          <span class="content1">
            <span class="home-text01">Account ID</span>
            <br class="home-text02" />
            <span class="home-text03">Type</span>
            <br />
          </span>
        </a>
        <label class="home-text05">Choose your Account</label>
        <label class="home-text06">Apply For</label>
        <a href="open-account" class="home-navlink01 button">
          <span class="content1">
            <span>Account</span>
            <br />
          </span>
        </a>
        <a href="apply-loan" class="home-navlink02 button">
          <span class="content1">
            <span>Loan</span>
            <br />
          </span>
        </a>
        <a href="apply-cheque" class="home-navlink03 button">
          <span class="content1">
            <span>Cheque</span>
            <br />
          </span>
        </a>
        <a href="apply-certificate" class="home-navlink04 button">
          <span class="content1">Certificate</span>
        </a>
        <a href="apply-credit-card" class="home-navlink05 button">
          <span class="content1">
            <span>Credit Card</span>
            <br />
          </span>
        </a>
        <a href="account" class="home-navlink06 button">
          <span class="content1">
            <span class="home-text21">Account ID</span>
            <br class="home-text22" />
            <span class="home-text23">Type</span>
            <br />
          </span>
        </a>
        <a href="account" class="home-navlink07 button">
          <span>
            <span class="content1">Account</span>
            <span class="content1">ID</span>
            <br class="content1" />
            <span class="content1">Type</span>
            <br />
          </span>
        </a>
        <label class="home-text31">Transfer</label>
        <a href="transfer-internal" class="home-navlink08 button">
          <span class="content1">Internal</span>
        </a>
        <a href="transfer-domestic" class="home-navlink09 button">
          <span class="content1">Domestic</span>
        </a>
        <a href="donate" class="home-navlink10 button">
          <span class="content1">Donate</span>
        </a>
        <a href="transfer-international" class="home-navlink11 button">
          <span class="content1">International</span>
        </a>
      </div>
      <div class="home-container2">
        <label class="home-text36">View</label>
        <a href="view-certificates" class="home-navlink12 button">
          <span class="content1">Certificates</span>
        </a>
        <button type="submit" class="home-button button">
          <span>Credit Cards</span>
        </button>
        <a href="view-credit-card" class="home-navlink13 button">
          <span class="content1">Credit Cards</span>
        </a>
        <a href="view-loans" class="home-navlink14 button">
          <span class="content1">Loans</span>
        </a>
        <a href="view-cheques" class="home-navlink15 button">
          <span class="content1">Cheques</span>
        </a>
        <label class="home-text42">Pay</label>
        <a href="pay-water" class="home-navlink16 button">
          <span class="content1">Water Bill</span>
        </a>
        <a href="pay-gas" class="home-navlink17 button">
          <span class="content1">Gas Bill</span>
        </a>
        <a href="pay-electricity" class="home-navlink18 button">
          <span class="content1">Electricity Bill</span>
        </a>
        <a href="pay-telecom" class="home-navlink19 button">
          <span class="content1">Telecommunication Bill</span>
        </a>
        <a href="set-reminder" class="home-navlink20 button">
          <span class="content1">Set Reminder</span>
        </a>
        <label class="home-text48">Set Reminder</label>
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1550565118-3a14e8d0386f?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDV8fGJhbmt8ZW58MHx8fHwxNjg1MjA2MzM4fDA&amp;ixlib=rb-4.0.3&amp;w=1600"
        class="home-image"
      />
      <h1 class="home-text49">Welcome to CtrlZ Bank</h1>
      <h1 class="home-text50">Announcements: </h1>
      <div class="home-container3">
        <a href="report" class="home-navlink21 button">
          Report Technical Issues
        </a>
        <a href="profile" class="home-navlink22">
          <svg viewBox="0 0 1024 1024" class="home-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="home-container4">
          <a href="home" class="home-navlink28">
          <span class="home-text51">
            <span class="home-text52">CtrlZ</span>
            <br class="home-text53" />
            <span class="home-text54">Bank</span>
            <br />
          </span>
          <svg viewBox="0 0 950.8571428571428 1024" class="home-icon2">
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg viewBox="0 0 950.8571428571428 1024" class="home-icon4">
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="home-navlink23">
          <svg viewBox="0 0 1024 1024" class="home-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
      <span class="home-text56">
        <span class="home-text57">1. New Rules and Regulations </span>
        <br />
        <span>
          Check and read all the new regulations to guarantee you a safe bank
          service.
        </span>
        <br />
      </span>
    </div>
  </div>
  
</body>
</html>