<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.pay-gas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pay-gas-image {
  top: 125px;
  left: 0px;
  width: 100%;
  height: 176px;
  position: absolute;
  object-fit: cover;
}
.pay-gas-container1 {
  top: 330px;
  left: 550px;
  width: 541px;
  height: 357.60000228881836px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.pay-gas-text {
  top: -2px;
  left: 148px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.pay-gas-form {
  top: 156px;
  left: 0px;
  width: 541px;
  height: 136px;
  display: flex;
  position: absolute;
}
.pay-gas-text01 {
  top: 10px;
  left: 0px;
  position: absolute;
}
.pay-gas-text02 {
  top: 70px;
  left: 0px;
  position: absolute;
}
.pay-gas-textinput {
  top: 10px;
  right: 0px;
  position: absolute;
}
.pay-gas-textinput1 {
  top: 70px;
  right: 0px;
  position: absolute;
}
.pay-gas-text03 {
  top: 76px;
  left: 148px;
  position: absolute;
}
.pay-gas-text04 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.pay-gas-text05 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.pay-gas-text06 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.pay-gas-container2 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.pay-gas-navlink {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.pay-gas-navlink1 {
  display: contents;
}

.pay-gas-navlink7 {
  display: contents;
}
.pay-gas-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.pay-gas-container3 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.pay-gas-text08 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.pay-gas-text09 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.pay-gas-text10 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.pay-gas-text11 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.pay-gas-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.pay-gas-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.pay-gas-navlink2 {
  display: contents;
}
.pay-gas-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.pay-gas-button {
  top: 620px;
  left: 770px;
  color: var(--dl-color-gray-white);
  width: 144px;
  height: 50px;
  position: absolute;
  background-color: var(--dl-color-gray-black);
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./pay-gas.css" rel="stylesheet" />
    <div class="pay-gas-container">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1608174427965-06e78e2f29a9?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fGdhc3xlbnwwfHx8fDE2ODUyMDQ5NTh8MA&amp;ixlib=rb-4.0.3&amp;w=1500"
        class="pay-gas-image"
      />
      <div class="pay-gas-container1">
        <h1 class="pay-gas-text">Pay Gas Bill</h1>
        <form class="pay-gas-form">
          <label class="pay-gas-text01">Account Number:</label>
          <label class="pay-gas-text02">Amount : </label>
          <input
            type="text"
            required
            placeholder="Enter your account number"
            class="pay-gas-textinput input"
          />
          <input
            type="text"
            required
            placeholder="Enter the amount"
            class="pay-gas-textinput1 input"
          />
        </form>
        <span class="pay-gas-text03">
          <span class="pay-gas-text04">Bill Amount: 0.00 EGP</span>
          <br class="pay-gas-text05" />
          <span class="pay-gas-text06">Due date: DD/MM/YYYY</span>
          <br />
        </span>
      </div>
      <div class="pay-gas-container2">
        <a href="report" class="pay-gas-navlink button">
          Report Technical Issues
        </a>
        <a href="profile" class="pay-gas-navlink1">
          <svg viewBox="0 0 1024 1024" class="pay-gas-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="pay-gas-container3">
          <a href="home" class="pay-gas-navlink7">
          <span class="pay-gas-text08">
            <span class="pay-gas-text09">CtrlZ</span>
            <br class="pay-gas-text10" />
            <span class="pay-gas-text11">Bank</span>
            <br />
          </span>
          <svg viewBox="0 0 950.8571428571428 1024" class="pay-gas-icon2">
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg viewBox="0 0 950.8571428571428 1024" class="pay-gas-icon4">
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="pay-gas-navlink2">
          <svg viewBox="0 0 1024 1024" class="pay-gas-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
      <button class="pay-gas-button button Content" onclick="showAlertPay()">Pay Bill</button>

      <script>
        function showAlertPay(){
          alert("Bill paid successfully!");
        }
      </script>
    </div>
  </div>
  
  
</body>
</html>