<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.profile-navlink {
  top: 400px;
  left: 660px;
  color: var(--dl-color-gray-white);
  width: 288px;
  height: 50px;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-width: 2px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}

.profile-text {
  top: 142px;
  left: 711px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.profile-text01 {
  top: 260px;
  left: 620px;
  position: absolute;
}
.profile-text02 {
  top: 100px;
  left: 0px;
  position: absolute;
}
.profile-text03 {
  top: 310px;
  left: 620px;
  position: absolute;
}
.profile-text04 {
  top: 360px;
  left: 620px;
  position: absolute;
}
.profile-text05 {
  top: 630px;
  left: 620px;
  position: absolute;
}
.profile-text06 {
  top: 210px;
  left: 620px;
  position: absolute;
}
.profile-text07 {
  top: 580px;
  left: 620px;
  position: absolute;
}
.profile-text08 {
  top: 470px;
  left: 620px;
  position: absolute;
}
.profile-navlink1 {
  top: 650px;
  left: 670px;
  color: var(--dl-color-gray-white);
  width: 230px;
  height: 50px;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-width: 2px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}

.profile-navlink2 {
  top: 510px;
  left: 690px;
  color: var(--dl-color-gray-white);
  width: 200px;
  height: 50px;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-width: 2px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}

.profile-navlink8 {
  top: 700px;
  left: 690px;
  color: #ffffff;
  width: 200px;
  height: 30px;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  border-width: 2px;
  border-radius: 0px;
  text-decoration: none;
  background-color: #ff0000;
}

.profile-container1 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.profile-navlink3 {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.profile-navlink4 {
  display: contents;
}
.profile-navlink7{
  display: contents;
}
.profile-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.profile-container2 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.profile-text09 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.profile-text10 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.profile-text11 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.profile-text12 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.profile-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.profile-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.profile-navlink5 {
  display: contents;
}
.profile-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./profile.css" rel="stylesheet" />
    <div class="profile-container">
      <a href="edit-info" class="profile-navlink button">
        Edit Phone Number
      </a>
      <h1 class="profile-text">Profile</h1>
      <label class="profile-text01">Email: example@example.com</label>
      <label class="profile-text02">Username: XXXXXXXXXXXX</label>
      <label class="profile-text03">National ID:  XXXXXXXXXXXXXX</label>
      <label class="profile-text04">Phone Number: XXXXXXXXX</label>
      <label class="profile-text05">Gender: xxxxxx</label>
      <label class="profile-text06">Full Name: XXXXXX  XXXXXXXXX</label>
      <label class="profile-text07">Date of Birth:  DD/MM/YYYY</label>
      <label class="profile-text08">Address: ------------------ </label>
      <a href="edit-info" class="profile-navlink1 button">Reset Password</a>
      <a href="edit-info" class="profile-navlink2 button">Edit Address</a>
      <a href="login" class="profile-navlink8 button">Log out</a>

      <div class="profile-container1">
        <a href="report" class="profile-navlink3 button">
          Report Technical Issues
        </a>
        <a href="profile" class="profile-navlink4">
          <svg viewBox="0 0 1024 1024" class="profile-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="profile-container2">
          <a href="home" class="profile-navlink7">
          <span class="profile-text09">
            <span class="profile-text10">CtrlZ</span>
            <br class="profile-text11" />
            <span class="profile-text12">Bank</span>
            <br />
          </span>
          <svg viewBox="0 0 950.8571428571428 1024" class="profile-icon2">
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg viewBox="0 0 950.8571428571428 1024" class="profile-icon4">
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="profile-navlink5">
          <svg viewBox="0 0 1024 1024" class="profile-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
</body>
</html>