<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.register-text {
  top: 142px;
  left: 661px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.register-form {
  top: 174px;
  left: 564px;
  width: 503px;
  height: 716px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.register-text01 {
  top: 40px;
  left: 0px;
  position: absolute;
}
.register-text02 {
  top: 100px;
  left: 0px;
  position: absolute;
}
.register-textinput {
  top: 40px;
  right: 23px;
  position: absolute;
}
.register-textinput1 {
  top: 100px;
  right: 23px;
  position: absolute;
}
.register-text03 {
  top: 160px;
  left: 0px;
  position: absolute;
}
.register-textinput2 {
  top: 160px;
  right: 23px;
  position: absolute;
}
.register-text04 {
  top: 520px;
  left: 0px;
  position: absolute;
}
.register-text05 {
  top: 220px;
  left: 0px;
  position: absolute;
}
.register-text06 {
  top: 400px;
  left: 0px;
  position: absolute;
}
.register-text07 {
  top: 340px;
  left: 0px;
  position: absolute;
}
.register-text08 {
  top: 280px;
  left: 0px;
  position: absolute;
}
.register-textinput3 {
  top: 520px;
  right: 23px;
  position: absolute;
}
.register-textinput4 {
  top: 400px;
  right: 23px;
  position: absolute;
}
.register-textinput5 {
  top: 340px;
  right: 23px;
  position: absolute;
}
.register-textinput6 {
  top: 280px;
  right: 23px;
  position: absolute;
}
.register-textinput7 {
  top: 220px;
  right: 23px;
  position: absolute;
}
.register-select {
  top: 460px;
  left: 164px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
  position: absolute;
}
.register-text09 {
  top: 460px;
  left: 4px;
  position: absolute;
}
.register-checkbox {
  left: 373px;
  width: 30px;
  bottom: 105px;
  height: 30px;
  position: absolute;
}
.register-text10 {
  top: 580px;
  left: 0px;
  position: absolute;
}
.register-text11 {
  top: 640px;
  left: 0px;
  position: absolute;
}
.register-textinput8 {
  left: 78px;
  bottom: -1px;
  position: absolute;
}
.register-navlink {
  top: 900px;
  left: 726px;
  color: var(--dl-color-gray-white);
  width: 127px;
  height: 58px;
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.register-navlink:focus {
  padding: 0px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  background-color: var(--dl-color-gray-black);
}
.register-container1 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.register-navlink1 {
  top: 40px;
  right: 70px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.register-container2 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.register-text12 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.register-text13 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.register-text14 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.register-text15 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.register-icon {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.register-icon2 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.register-navlink5 {
  display: contents;
}


    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./register.css" rel="stylesheet" />
    <div class="register-container">
      <h1 class="register-text">Registeration</h1>
      <form class="register-form">
        <label class="register-text01">Email:</label>
        <label class="register-text02">Username:</label>
        <input
          type="email"
          autofocus
          placeholder="Enter your email address"
          class="register-textinput input"
        />
        <input
          type="text"
          autofocus
          minlength="4"
          placeholder="Enter your username"
          class="register-textinput1 input"
        />
        <label class="register-text03">Full Name: </label>
        <input
          type="text"
          autofocus
          placeholder="Enter your name"
          class="register-textinput2 input"
        />
        <label class="register-text04">Password:</label>
        <label class="register-text05">National ID: </label>
        <label class="register-text06">Date of Birth: </label>
        <label class="register-text07">Address: </label>
        <label class="register-text08">Phone Number:</label>
        <input
          type="password"
          autofocus
          placeholder="Enter your password"
          class="register-textinput3 input"
        />
        <input
          type="text"
          autofocus
          placeholder="Enter your date of birth"
          class="register-textinput4 input"
        />
        <input
          type="text"
          autofocus
          placeholder="Enter your address"
          class="register-textinput5 input"
        />
        <input
          type="number"
          autofocus
          placeholder="Enter your phone number"
          class="register-textinput6 input"
        />
        <input
          type="number"
          autofocus
          placeholder="Enter your national id"
          class="register-textinput7 input"
        />
        <select required class="register-select">
          <option value="Fenale" selected>Female</option>
          <option value="Male">Male</option>
        </select>
        <label class="register-text09">Gender:</label>
        <input type="checkbox" checked="true" class="register-checkbox" />
        <label class="register-text10">Do you have already Bank Account ?</label>
        <label class="register-text11">
          If yes, enter your Bank Account Number: 
        </label>
        <input
          type="password"
          autofocus
          placeholder="Enter your Account Number"
          class="register-textinput8 input"
        />
      </form>
      <a href="login" class="register-navlink button">Register</a>
      <div class="register-container1">
        <a href="report" class="register-navlink1 button">
          Report Technical Issues
        </a>
        <div class="register-container2">
          <span class="register-text12">
            <span class="register-text13">CtrlZ</span>
            <br class="register-text14" />
            <span class="register-text15">Bank</span>
            <br />
          </span>
          <svg viewBox="0 0 950.8571428571428 1024" class="register-icon">
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg viewBox="0 0 950.8571428571428 1024" class="register-icon2">
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>