<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.set-reminder-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.set-reminder-text {
  top: 310px;
  left: 692px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.set-reminder-image {
  top: 125px;
  left: 0px;
  width: 1536px;
  height: 176px;
  position: absolute;
  object-fit: cover;
}
.set-reminder-form {
  top: 356px;
  left: 614px;
  width: 458px;
  height: 261px;
  display: flex;
  position: absolute;
}
.set-reminder-text01 {
  top: 40px;
  left: 0px;
  position: absolute;
}
.set-reminder-text02 {
  top: 100px;
  left: 3px;
  position: absolute;
}
.set-reminder-textinput {
  top: 40px;
  left: 110px;
  position: absolute;
}
.set-reminder-textinput1 {
  top: 100px;
  left: 110px;
  position: absolute;
}
.set-reminder-text03 {
  top: 160px;
  left: 3px;
  position: absolute;
}
.set-reminder-text04 {
  top: 220px;
  left: 3px;
  position: absolute;
}
.set-reminder-select {
  top: 160px;
  left: 110px;
  position: absolute;
}
.set-reminder-select1 {
  top: 220px;
  left: 110px;
  position: absolute;
}
.set-reminder-button {
  top: 632px;
  left: 780px;
  color: var(--dl-color-gray-white);
  width: 100px;
  height: 50px;
  padding: 0px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  background-color: var(--dl-color-gray-black);
}

.set-reminder-container1 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.set-reminder-navlink {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.set-reminder-navlink1 {
  display: contents;
}
.set-reminder-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.set-reminder-container2 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.set-reminder-text05 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.set-reminder-text06 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.set-reminder-text07 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.set-reminder-text08 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.set-reminder-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.set-reminder-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.set-reminder-navlink2 {
  display: contents;
}
.set-reminder-navlink5 {
  display: contents;
}
.set-reminder-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reminders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./set-reminder.css" rel="stylesheet" />
    <div class="set-reminder-container">
      <h1 class="set-reminder-text">Set Reminder</h1>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1628692945421-21162c93a8a6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDR8fHJlbWluZGVyfGVufDB8fHx8MTY4NTI3ODQzMnww&amp;ixlib=rb-4.0.3&amp;w=1600"
        class="set-reminder-image"
      />
      <form class="set-reminder-form">
        <label class="set-reminder-text01">Date</label>
        <label class="set-reminder-text02">Time</label>
        <input
          type="text"
          required
          autofocus
          placeholder="DD/MM/YYYY"
          class="set-reminder-textinput input"
        />
        <input
          type="password"
          required
          autofocus
          minlength="4"
          placeholder="HH:MM"
          class="set-reminder-textinput1 input"
        />
        <label class="set-reminder-text03">Bill type:</label>
        <label class="set-reminder-text04">Repeated:</label>
        <select required class="set-reminder-select">
          <option value="Option 1">Credit Card Bill</option>
          <option value="Option 2">Water Bill</option>
          <option value="Option 3">Gas Bill</option>
          <option value="New Option">Electricity Bill</option>
          <option value="New Option">Telecommunication Bill</option>
        </select>
        <select required class="set-reminder-select1">
          <option value="Option 1" selected>Weekly</option>
          <option value="Option 3">Monthly</option>
          <option value="Option 2">Yearly</option>
        </select>
      </form>
      <button class="set-reminder-button button" onclick="showAlertSet()">Set</button>
      <script>
        function showAlertSet(){
          alert("Reminder set successfully!");
        }
      </script>
      <div class="set-reminder-container1">
        <a href="report" class="set-reminder-navlink button">
          Report Technical Issues
        </a>
        <a href="profile" class="set-reminder-navlink1">
          <svg viewBox="0 0 1024 1024" class="set-reminder-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="set-reminder-container2">
          <a href="home" class="set-reminder-navlink5">
          <span class="set-reminder-text05">
            <span class="set-reminder-text06">CtrlZ</span>
            <br class="set-reminder-text07" />
            <span class="set-reminder-text08">Bank</span>
            <br />
          </span>
          <svg viewBox="0 0 950.8571428571428 1024" class="set-reminder-icon2">
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg viewBox="0 0 950.8571428571428 1024" class="set-reminder-icon4">
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="set-reminder-navlink2">
          <svg viewBox="0 0 1024 1024" class="set-reminder-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
</body>
</html>