.view-credit-card-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .view-credit-card-container1 {
    top: 409px;
    left: 140px;
    width: 532px;
    height: 490px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .view-credit-card-ul {
    top: 0px;
    left: 29px;
    width: 415px;
    height: 295px;
    position: absolute;
    align-self: center;
    list-style-type: disc;
    list-style-position: inside;
  }
  .view-credit-card-li1 {
    width: 436px;
    height: 32px;
  }
  .view-credit-card-navlink {
    top: 304px;
    left: 170px;
    color: #ffffff;
    width: 157px;
    height: 85px;
    position: absolute;
    transition: 0.3s;
    text-decoration: none;
    background-color: #1227bf;
  }
  
  .view-credit-card-text14 {
    top: 329px;
    left: 563px;
    position: absolute;
    align-self: center;
    font-style: normal;
    font-weight: 800;
  }
  .view-credit-card-image {
    top: 125px;
    left: 0px;
    width: 1536px;
    height: 176px;
    position: absolute;
    object-fit: cover;
  }
  .view-credit-card-container2 {
    top: 432px;
    left: 936px;
    width: 319.6000061035156px;
    height: 455px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
  }
  .view-credit-card-button {
    top: 57px;
    left: 92px;
    color: #ffffff;
    width: 157px;
    height: 85px;
    position: absolute;
    transition: 0.3s;
    background-color: #1227bf;
  }
  
  .view-credit-card-text15 {
    text-transform: none;
    text-decoration: none;
  }
  .view-credit-card-button1 {
    left: 90px;
    color: #ffffff;
    width: 157px;
    bottom: 35px;
    height: 85px;
    position: absolute;
    transition: 0.3s;
    background-color: #1227bf;
  }
  
  .view-credit-card-text18 {
    text-transform: none;
    text-decoration: none;
  }
  .view-credit-card-textinput {
    top: 275px;
    right: -1px;
    position: absolute;
  }
  .view-credit-card-text21 {
    top: 0px;
    left: 23px;
    position: absolute;
  }
  .view-credit-card-text22 {
    top: 192px;
    left: 4px;
    position: absolute;
  }
  .view-credit-card-select {
    top: 231px;
    left: 84px;
    position: absolute;
  }
  .view-credit-card-container3 {
    top: 0px;
    left: 0px;
    width: 1536px;
    height: 125px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: #0c0b20;
  }
  .view-credit-card-navlink1 {
    top: 41px;
    right: 170px;
    width: var(--dl-size-size-xxlarge);
    position: absolute;
    text-align: center;
    text-decoration: none;
    background-color: var(--dl-color-gray-white);
  }
  .view-credit-card-navlink2 {
    display: contents;
  }
  .view-credit-card-icon {
    top: 40px;
    fill: #ffffff;
    right: 40px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-color: #ffffff;
    border-width: 1px;
    text-decoration: none;
  }
  .view-credit-card-navlink3 {
    display: contents;
  }
  .view-credit-card-icon2 {
    top: 40px;
    fill: #ffffff;
    right: 100px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-color: #ffffff;
    border-width: 1px;
    text-decoration: none;
  }
  .view-credit-card-container4 {
    top: 24px;
    left: 38px;
    width: 234px;
    height: 110px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .view-credit-card-text25 {
    top: 11px;
    left: 71px;
    position: absolute;
    text-align: center;
  }
  .view-credit-card-text26 {
    color: var(--dl-color-gray-white);
    font-size: 35px;
    line-height: 1.2;
  }
  .view-credit-card-text27 {
    color: var(--dl-color-gray-black);
    font-size: 30px;
    line-height: 1.2;
  }
  .view-credit-card-text28 {
    color: #003eb3;
    font-size: 25px;
    line-height: 1.3;
  }
  .view-credit-card-icon4 {
    top: 0px;
    fill: #26abf7;
    left: 18px;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .view-credit-card-icon6 {
    top: 27px;
    fill: #003EB3;
    left: 0px;
    color: #171ce3;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  