<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.view-certificates-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.view-certificates-container1 {
  top: 327px;
  left: 78px;
  width: 1343px;
  height: 613px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.view-certificates-container2 {
  top: 118px;
  left: 0px;
  width: 406px;
  height: 429px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #61647a;
  align-items: center;
  padding-right: 13px;
  flex-direction: column;
  justify-content: center;
  background-color: #c5eaf3;
}
.view-certificates-ul {
  top: 89px;
  right: -1px;
  width: 376px;
  height: 245px;
  position: absolute;
  align-self: center;
  padding-left: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.view-certificates-li01 {
  width: 436px;
  height: 32px;
}
.view-certificates-text08 {
  top: 28px;
  left: 103px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(7, 93, 162);
}
.view-certificates-text09 {
  top: 0px;
  left: 553px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.view-certificates-container3 {
  top: 114px;
  right: 0px;
  width: 406px;
  height: 429px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #61647a;
  align-items: center;
  padding-right: 13px;
  flex-direction: column;
  justify-content: center;
  background-color: #c5eaf3;
}
.view-certificates-ul1 {
  top: 89px;
  right: -1px;
  width: 376px;
  height: 245px;
  position: absolute;
  align-self: center;
  padding-left: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.view-certificates-li09 {
  width: 436px;
  height: 32px;
}
.view-certificates-text18 {
  top: 30px;
  left: 106px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(7, 93, 162);
}
.view-certificates-container4 {
  top: 116px;
  left: 472px;
  width: 406px;
  height: 429px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #61647a;
  align-items: center;
  padding-right: 13px;
  flex-direction: column;
  justify-content: center;
  background-color: #c5eaf3;
}
.view-certificates-ul2 {
  top: 89px;
  right: -1px;
  width: 376px;
  height: 245px;
  position: absolute;
  align-self: center;
  padding-left: 0px;
  list-style-type: disc;
  list-style-position: inside;
}
.view-certificates-li17 {
  width: 436px;
  height: 32px;
}
.view-certificates-text27 {
  top: 28px;
  left: 104px;
  color: rgb(255, 255, 255);
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(7, 93, 162);
}
.view-certificates-button {
  top: 480px;
  left: 139px;
  position: absolute;
  transition: 0.3s;
}

.view-certificates-button1 {
  top: 480px;
  left: 1085px;
  position: absolute;
  transition: 0.3s;
}

.view-certificates-button2 {
  top: 480px;
  left: 608px;
  position: absolute;
  transition: 0.3s;
}

.view-certificates-button3 {
  top: 49px;
  right: 230px;
  position: absolute;
}
.view-certificates-image {
  top: 125px;
  left: 0px;
  width: 1536px;
  height: 176px;
  position: absolute;
  object-fit: cover;
}
.view-certificates-icon {
  top: 43px;
  fill: #ffffff;
  right: 168px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
}
.view-certificates-icon02 {
  top: 43px;
  fill: #ffffff;
  right: 105px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
}
.view-certificates-container5 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.view-certificates-navlink {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.view-certificates-navlink1 {
  display: contents;
}
.view-certificates-icon04 {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.view-certificates-navlink2 {
  display: contents;
}
.view-certificates-navlink5{
  display: contents;
}
.view-certificates-icon06 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.view-certificates-container6 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.view-certificates-text28 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.view-certificates-text29 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.view-certificates-text30 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.view-certificates-text31 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.view-certificates-icon08 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.view-certificates-icon10 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certificates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./view-certificates.css" rel="stylesheet" />
    <div class="view-certificates-container">
      <div class="view-certificates-container1">
        <div class="view-certificates-container2">
          <ul class="view-certificates-ul list">
            <li class="list-item"><span>Account Number: </span></li>
            <li class="view-certificates-li01 list-item">
              <span>Certificate Amount: 0.00 EGP</span>
            </li>
            <li class="list-item"><span>Interest Rate: 0%</span></li>
            <li class="list-item"><span>Issue Date: DD/MM/YYYY</span></li>
            <li class="list-item"><span>Maturity Date: DD/MM/YYYY</span></li>
            <li class="list-item"><span>Duration in Years: 0</span></li>
            <li class="list-item"><span>Return Frequency: </span></li>
            <li class="list-item"><span>Currency: Egyptian Pound</span></li>
          </ul>
          <h1 class="view-certificates-text08">Certificate</h1>
        </div>
        <h1 class="view-certificates-text09">Certificates</h1>
        <div class="view-certificates-container3">
          <ul class="view-certificates-ul1 list">
            <li class="list-item"><span>Account Number: </span></li>
            <li class="view-certificates-li09 list-item">
              <span>Certificate Amount: 0.00 EGP</span>
            </li>
            <li class="list-item"><span>Interest Rate: 0%</span></li>
            <li class="list-item"><span>Issue Date: DD/MM/YYYY</span></li>
            <li class="list-item"><span>Maturity Date: DD/MM/YYYY</span></li>
            <li class="list-item"><span>Duration in Years: 0</span></li>
            <li class="list-item"><span>Return Frequency: </span></li>
            <li class="list-item"><span>Currency: Egyptian Pound</span></li>
          </ul>
          <h1 class="view-certificates-text18">Certificate</h1>
        </div>
        <div class="view-certificates-container4">
          <ul class="view-certificates-ul2 list">
            <li class="list-item"><span>Account Number: </span></li>
            <li class="view-certificates-li17 list-item">
              <span>Certificate Amount: 0.00 EGP</span>
            </li>
            <li class="list-item"><span>Interest Rate: 0%</span></li>
            <li class="list-item"><span>Issue Date: DD/MM/YYYY</span></li>
            <li class="list-item"><span>Maturity Date: DD/MM/YYYY</span></li>
            <li class="list-item"><span>Duration in Years: 0</span></li>
            <li class="list-item"><span>Return Frequency: </span></li>
            <li class="list-item"><span>Currency: Egyptian Pound</span></li>
          </ul>
          <h1 class="view-certificates-text27">Certificate</h1>
        </div>
        <button class="view-certificates-button button" onclick="showAlertCancel()">Cancel</button>
        <button class="view-certificates-button1 button" onclick="showAlertCancel()">Cancel</button>
        <button class="view-certificates-button2 button" onclick="showAlertCancel()">Cancel</button>
      </div>

      <script>
        function showAlertCancel(){
          alert("You Canceled the Certificate!");
        }
      </script>
      
      <button class="view-certificates-button3 button">
        Report Technical Issues
      </button>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1534951009808-766178b47a4f?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE3fHxtb25leXxlbnwwfHx8fDE2ODUyNzkwNzd8MA&amp;ixlib=rb-4.0.3&amp;w=1600"
        class="view-certificates-image"
      />
      <svg viewBox="0 0 1024 1024" class="view-certificates-icon">
        <path
          d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
        ></path></svg>
        <svg viewBox="0 0 1024 1024" class="view-certificates-icon02">
        <path
          d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
        ></path>
      </svg>
      <div class="view-certificates-container5">
        <a href="report" class="view-certificates-navlink button">
          Report Technical Issues
        </a>
        <a href="profile" class="view-certificates-navlink1">
          <svg viewBox="0 0 1024 1024" class="view-certificates-icon04">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <a href="notifications" class="view-certificates-navlink2">
          <svg viewBox="0 0 1024 1024" class="view-certificates-icon06">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
        <div class="view-certificates-container6">
          <a href="home" class="view-certificates-navlink5">
          <span class="view-certificates-text28">
            <span class="view-certificates-text29">CtrlZ</span>
            <br class="view-certificates-text30" />
            <span class="view-certificates-text31">Bank</span>
            <br />
          </span>
          <svg
            viewBox="0 0 950.8571428571428 1024"
            class="view-certificates-icon08"
          >
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg
            viewBox="0 0 950.8571428571428 1024"
            class="view-certificates-icon10"
          >
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>