<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.view-card-transactions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.view-card-transactions-container1 {
  top: 382px;
  left: 413px;
  width: 817px;
  height: 392px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.view-card-transactions-container2 {
  top: 80px;
  left: 0px;
  width: 800px;
  height: 35px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.view-card-transactions-text03 {
  top: -13px;
  left: 187px;
  position: absolute;
  align-self: center;
  font-style: normal;
  font-weight: 800;
}
.view-card-transactions-container3 {
  top: 120px;
  left: 0px;
  width: 800px;
  height: 34px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.view-card-transactions-container4 {
  top: 160px;
  left: 0px;
  width: 800px;
  height: 35px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.view-card-transactions-container5 {
  top: 200px;
  left: 0px;
  width: 800px;
  height: 34px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.view-card-transactions-image {
  top: 125px;
  left: 0px;
  width: 1536px;
  height: 176px;
  position: absolute;
  object-fit: cover;
}
.view-card-transactions-container6 {
  top: 0px;
  left: 0px;
  width: 1536px;
  height: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0b20;
}
.view-card-transactions-navlink {
  top: 41px;
  right: 170px;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
  text-align: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.view-card-transactions-navlink1 {
  display: contents;
}
.view-card-transactions-icon {
  top: 40px;
  fill: #ffffff;
  right: 40px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
.view-card-transactions-container7 {
  top: 24px;
  left: 38px;
  width: 234px;
  height: 110px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.view-card-transactions-text13 {
  top: 11px;
  left: 71px;
  position: absolute;
  text-align: center;
}
.view-card-transactions-text14 {
  color: #ffffff;
  font-size: 35px;
  line-height: 1.2;
}
.view-card-transactions-text15 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  line-height: 1.2;
}
.view-card-transactions-text16 {
  color: #003eb3;
  font-size: 25px;
  line-height: 1.3;
}
.view-card-transactions-icon2 {
  top: 0px;
  fill: #26abf7;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.view-card-transactions-icon4 {
  top: 27px;
  fill: #003EB3;
  left: 0px;
  color: #171ce3;
  width: 50px;
  height: 50px;
  position: absolute;
}
.view-card-transactions-navlink2 {
  display: contents;
}
.view-card-transactions-navlink5 {
  display: contents;
}
.view-card-transactions-icon6 {
  top: 40px;
  fill: #ffffff;
  right: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}


    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <link href="./view-card-transactions.css" rel="stylesheet" />
    <div class="view-card-transactions-container">
      <div class="view-card-transactions-container1">
        <div class="view-card-transactions-container2">
          <span>
            <span>
              29/5/2023 05:23 : Amount of 500.0 EGP transfered to #Account Number 
            </span>
            <br />
          </span>
        </div>
        <h1 class="view-card-transactions-text03">Credit Card Transactions</h1>
        <div class="view-card-transactions-container3">
          <span>
            <span>
              25/5/2023 12:02 : Amount of 6030.0 EGP transfered from #Account
              Number
            </span>
            <br />
          </span>
        </div>
        <div class="view-card-transactions-container4">
          <span>
            <span>
              24/5/2023 05:23 : Amount of 500.0 EGP transfered to #Account Number 
            </span>
            <br />
          </span>
        </div>
        <div class="view-card-transactions-container5">
          <span>
            <span>
              21/5/2023 12:02 : Amount of 6330.0 EGP transfered from #Account
              Number
            </span>
            <br />
          </span>
        </div>
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDZ8fHRyYW5zYWN0aW9uc3xlbnwwfHx8fDE2ODUyNzg4MTJ8MA&amp;ixlib=rb-4.0.3&amp;w=1600"
        class="view-card-transactions-image"
      />
      <div class="view-card-transactions-container6">
        <a href="report" class="view-card-transactions-navlink button">
          Report Technical Issues
        </a>
        <a href="profile" class="view-card-transactions-navlink1">
          <svg viewBox="0 0 1024 1024" class="view-card-transactions-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </a>
        <div class="view-card-transactions-container7">
          <a href="home" class="view-card-transactions-navlink5">
          <span class="view-card-transactions-text13">
            <span class="view-card-transactions-text14">CtrlZ</span>
            <br class="view-card-transactions-text15" />
            <span class="view-card-transactions-text16">Bank</span>
            <br />
          </span>
          <svg
            viewBox="0 0 950.8571428571428 1024"
            class="view-card-transactions-icon2"
          >
            <path
              d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
            ></path></svg>
            <svg
            viewBox="0 0 950.8571428571428 1024"
            class="view-card-transactions-icon4"
          >
            <path
              d="M920.571 475.429c0 19.429-8 38.286-21.143 51.429l-372 372.571c-13.714 13.143-32.571 21.143-52 21.143s-38.286-8-51.429-21.143l-372-372.571c-13.714-13.143-21.714-32-21.714-51.429s8-38.286 21.714-52l42.286-42.857c13.714-13.143 32.571-21.143 52-21.143s38.286 8 51.429 21.143l168 168v-402.286c0-40 33.143-73.143 73.143-73.143h73.143c40 0 73.143 33.143 73.143 73.143v402.286l168-168c13.143-13.143 32-21.143 51.429-21.143s38.286 8 52 21.143l42.857 42.857c13.143 13.714 21.143 32.571 21.143 52z"
            ></path>
          </svg>
          </a>
        </div>
        <a href="notifications" class="view-card-transactions-navlink2">
          <svg viewBox="0 0 1024 1024" class="view-card-transactions-icon6">
            <path
              d="M768 682l86 86v42h-684v-42l86-86v-212q0-100 51-174t141-96v-30q0-26 18-45t46-19 46 19 18 45v30q90 22 141 96t51 174v212zM512 938q-36 0-61-24t-25-60h172q0 34-26 59t-60 25z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</body>  
</html>